<div class="col-md-4">
  <h4 class="m_4">Top Members</h4>
  <ul id="flexiselDemo3">
    <li><img src="../assets/images/pic2.jpg" class="img-responsive" alt=""/></li>
    <li><img src="../assets/images/pic2.jpg" class="img-responsive" alt=""/></li>
    <li><img src="../assets/images/pic2.jpg" class="img-responsive" alt=""/></li>
  </ul>
  <script type="text/javascript">
    $(window).load(function() {
       console.log('ahoyyy');

      $("#flexiselDemo3").flexisel({
        visibleItems: 3,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 2
          },
          landscape: {
            changePoint:640,
            visibleItems: 3
          },
          tablet: {
            changePoint:768,
            visibleItems: 4
          }
        }
      });

    });
  </script>
  <script type="text/javascript" src="js/jquery.flexisel.js"></script>
  <h4 class="recent">Recently Active user Groups</h4>
  <ul id="flexiselDemo1">
    <li><img src="../assets/images/pic2.jpg" /><div class="grid-flex"><a href="#">Syenergy 2mm</a><p>0 friend</p></div></li>
    <li><img src="../assets/images/pic2.jpg" /><div class="grid-flex"><a href="#">Surf Yoke</a><p>10 friends</p></div></li>
    <li><img src="../assets/images/pic3.jpg" /><div class="grid-flex"><a href="#">Salty Daiz</a><p>1 friend</p></div></li>
    <li><img src="../assets/images/pic2.jpg" /><div class="grid-flex"><a href="#">Cheeky Zane</a><p>0 friend</p></div></li>
    <li><img src="../assets/images/pic2.jpg" /><div class="grid-flex"><a href="#">Synergy</a><p>0 friend</p></div></li>
  </ul>
  <script type="text/javascript">
    $(window).load(function() {
      $("#flexiselDemo1").flexisel({
        visibleItems: 3,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
          portrait: {
            changePoint:480,
            visibleItems: 2
          },
          landscape: {
            changePoint:640,
            visibleItems: 3
          },
          tablet: {
            changePoint:768,
            visibleItems: 4
          }
        }
      });

    });
  </script>
  </div>
