<div class="profile_banner">
  <div class="container">
    <h3>Reset Password</h3>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div *ngIf="success" class="alert btn-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
      <strong>Success! </strong>Email has been sent to reset password.
    </div>
  </div>
</div>

<div class='profiles'>
  <div class="container">
    <div class="account_grid">

      <div class="col-md-6 login-right">
        <form (ngSubmit)="sendEmailReset(f)" #f="ngForm">
          <div>
            <span>Email Address<label>*</label></span>
            <input type="email" id="email" name="email" ngModel class="form-control" email required #email="ngModel">
            <div *ngIf="!email.valid && email.touched" style="color: red; font-size: medium;" >
              Enter a valid email address!
            </div>
          </div>


          <button class="btn acount-btn" type="submit" type="submit" [disabled]="!f.valid">Send</button>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
